.policy {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f7f7f7;
   padding-top: 200px;
   padding-bottom: 150px;
}

.policyContent {
   background: white;
   padding: 60px;
   border-radius: 20px;
   width: 700px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.title-header {
   color: #FF7A1A;
}