.navbar {

    background-color: White;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 40px;
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.subscriptionPolicyButton {
    padding: 20px;
    background-color: #FF7A1A;
    border-radius: 30px;
    transition: 0.4s;
    font-size: 18px;
    border: none;

}

.leftNavbar {
    color: #FF7A1A;
    font-size: 24px;
    font-weight: 700;

}

.centerNavbar {
    display: flex;
    gap: 20px;
    font-weight: 500;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #FF7A1A;
}

.subscriptionPolicyButton:hover {
    background-color: #dd6f20;
    cursor: pointer;
    color: white;
}

.menuBarIcon {
    font-size: 24px;
    padding: 5px;
    border-radius: 70px;
    transition: 0.4s;
    display: none;
}

.menuBarIcon:hover {
    background-color: #dfdcdc;
    border: none;

}


.menuBar{
    height: 100vh;
    position: fixed;
    background-color: #F8F9FA;
    width: 220px;
    top: 0;
    right: -100%;
    box-shadow: -5px 0 20px #00000014;
    z-index: 10;
    transition: 0.4s;
    padding-top: 80px;
}
.menuBar.active{
    right: 0;
}

.menuList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    padding-top: 0;
}

.subscriptionPolicyButtonMenu{
    background-color: #FF7A1A;
    border-radius: 30px;
    transition: 0.4s;
    font-size: 14px;
    border: none;
    margin-top: 20px;
    padding-block: 10px;
    margin-left: 8px;
}
.subscriptionPolicyButtonMenu:hover {
    background-color: #dd6f20;
    cursor: pointer;
    color: white;
}

@media (max-width : 600px) {
    .menuBarIcon {
        display: block;
    }

    .centerNavbar,
    .subscriptionPolicyButton {
        display: none;
    }

    .navbar {
        padding: 0px 20px;
    }
}

.overlay{
    position: fixed;
    inset: 0;

    background-color: rgba(0,0,0,0.3);

    opacity: 0;
    visibility: hidden;

    transition: 0.3s;

    z-index: 8;
}

.activeOverlay{
    opacity: 1;
    visibility: visible;
}